<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="mirORMInputSet">
    <Require
      name="anMIRReportable_Acc"
      type="MIRReportable_Acc"/>
    <Label
      id="OrmTitle"
      label="DisplayKey.get(&quot;Accelerator.mir.heading.orm&quot;)"/>
    <TypeKeyRadioInput
      editable="true"
      id="HasOrm"
      label="DisplayKey.get(&quot;Accelerator.mir.label.orm&quot;)"
      required="true"
      value="anMIRReportable_Acc.ORM"
      valueType="typekey.YesNo"/>
    <DateInput
      available="(anMIRReportable_Acc as MIRReportable_Acc).ORM == YesNo.TC_YES"
      dateFormat="medium"
      editable="true"
      id="OrmTermDate"
      label="DisplayKey.get(&quot;Accelerator.mir.label.ormterm&quot;)"
      required="true"
      value="anMIRReportable_Acc.ORMTermDate"/>
  </InputSet>
</PCF>