<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    editable="true"
    id="MirORMInputSet">
    <Require
      name="anMIRReportable_Acc"
      type="MIRReportable_Acc"/>
    <BooleanRadioInput
      editable="true"
      id="HasOrm"
      label="DisplayKey.get(&quot;Accelerator.mir.label.orm&quot;)"
      value="anMIRReportable_Acc.HasORM"
      visible="true"/>
    <DateInput
      editable="true"
      id="OrmTermDate"
      label="DisplayKey.get(&quot;Accelerator.mir.label.ormterm&quot;)"
      value="anMIRReportable_Acc.ORMTermDate"/>
  </InputSet>
</PCF>