<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="mirTPOCInputSet">
    <Require
      name="anMIRReportable_Acc"
      type="MIRReportable_Acc"/>
    <Label
      id="TpocTitle"
      label="DisplayKey.get(&quot;Accelerator.mir.heading.tpoc&quot;)"/>
  </InputSet>
</PCF>